h1{
  color: green;
  /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  text-align: center;
}
label{
  color:#71B43D;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  font-size: 16px;
  font-weight: bold;
}
header ul li a {
  color:#71b43d;
}

button{
  color: green;
  border-radius: 16px;
}

.centrer{
  text-align: center;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    cursor: pointer;
}

form div + div {
    margin-top: 1em;
}

input{
  border-radius: 16px;
  /*background-color: green;*/
}
